#route-list-div {
  padding: 2% 0 2% 0;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 25vw;
  overflow: scroll;
}

/* So bad, fixed it up  */

/* lovely LOL */
/* does the div need to be styled? */
/* dont know, i told them not to touch css, and they did */
/* LOL */

/* whatre you trying to accomplish? */

/* kinda the same as last time, see the SS i sent you, to do a verticle list down the left */
/* right okay, yeah */

/* the list aint going vertical, it aint using the space */

/*  shouldnt a list be vertical anyway? */
/*  can you copy the code from your previous itunes app thing? */

/* no where near the same layout, cause they've messed it up, its actual chaos */

/* lemme have a look at the rest of the project */
/* is this on github? can i clone it? */
